body {
  background-color: #00bbff;
  margin: 0;
}

body,
.text,
pre {
  font-family: Arial, sans-serif; /* Replace Wingdings with Arial or any other desired font */
  color: #EB6C5D;
}

.text {
  font-size: 12px;
  font-weight: normal;
}

.form-label {
  font-size: 13px;
  color: #D20E13;
  font-weight: bold;
}

.tip-text {
  padding-top: 2px;
  color: #D7EA00;
  display: block;
  font-size: 11px;
}

h1,
h1 a,
h1 a:visited,
h1 a:active,
h1 a:link {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -2px;
  margin: 12px 0 12px 0;
  color: #F9770D;
  letter-spacing: -2px;
  margin: 12px 0 12px;
}

h1 a,
h1 a:visited,
h1 a:active,
h1 a:link {
  margin: 0;
}

h1 a:hover {
  text-decoration: none;
}

h2 .text,
h2 {
  font-size: 16px;
  font-weight: bold;
  color: #003DFF;
  text-transform: uppercase;
}

h2.light {
  font-size: 16px;
  font-weight: normal;
  color: #146EF2;
}

h2.title {
  margin: 20px 0 20px 0;
}

h3,
h3 a {
  font-size: 15px;
  font-weight: bold;
  color: #FF4A16;
}

.divider-top {
  border-top: 1px solid #7EB900;
}

.divider-bottom {
  border-bottom: 1px solid #BBFF00;
}

.divider-left {
  border-left: 1px solid #2E00FF;
}

.divider-right {
  border-right: 1px solid #420098;
}

.blank-box {
  border: 1px solid #D6F737;
}

.dark-box {
  border: 1px solid #EE1300;
  background: #ffff66;
  padding: 5px;
}

.sub-divider-bottom {
  border-bottom: 1px solid #D03FC5;
}

a.text-link {
  font-weight: normal;
  text-decoration: none;
  color: #FF1907;
}

a.text-link:hover {
  text-decoration: underline;
}

a[disabled=disabled],
a[disabled=disabled]:hover,
a[disabled],
a[disabled]:hover {
  text-decoration: none;
  cursor: default;
  color: #808080;
}

/* TABLE STYLES*/
.table td,
.table th {
  padding: 5px;
  border-top: 1px solid #FD5C45;
  margin: 0;
  text-align: left;
}

table.table {
  border-top: 1px solid #5F8911;
}

.table-header th {
  border-left: 1px solid #D03FC5;
  font-weight: bold;
  background-color: #33FFFF;
  border-top: none;
}

.table-header .first {
  border-left: 1px solid #33FFFF;
}
